<button (click)="getScreenshot()" style="position: absolute;z-index:20000;">Get screenshot</button>
<button (click)="zoomIn()" style="position: absolute;z-index:20000;top:20px;">+</button>
<button (click)="zoomOut()" style="position: absolute;z-index:20000;top:20px;left:30px;">-</button>
<button (click)="toggleLabels()" style="position: absolute;z-index:20000;top:40px;">Toggle labels</button>
<button (click)="activateSelectMode()" style="position: absolute;z-index:20000;top:60px;">Select mode</button>

<div #graph class="graph"></div>

<div #tooltip style="border: 1px solid grey; position: absolute; pointer-events: none; font-size: 13px; padding: 6px; background: white; font-family: sans-serif;">
</div>
